body{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 350px;
    height: 350px;
    border: 5px solid forestgreen;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin: 50px;
    padding: 50px;
    box-shadow: 3px 3px 3px 3px rgb(15, 13, 12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container:hover{
    box-shadow: 10px 15px 15px 15px rgb(68, 66, 65);
    transition-delay: .2s;
}
.container img{
    height: 150px;
    width: 150px;
    border: 3px solid rgb(253, 53, 17);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.container img:hover{
    transform: rotateX(190deg);
    -webkit-transform: rotateX(190deg);
    -moz-transform: rotateX(190deg);
    -ms-transform: rotateX(190deg);
    -o-transform: rotateX(190deg);
    transition-delay: .2s;
}
.container h2{
   text-align: center;   
}
.container h4{
    text-align: center;
}
.Btn{
     display: flex;
    justify-content: center;
    gap: 20px;
}
.Btn button{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(253, 253, 254);
    color: rgb(10, 10, 10);
    font-size: 16px;
    cursor: pointer;
}
.Btn button:hover{
    background-color: rgb(9, 10, 10);
    color: rgb(250, 250, 252);
    font-size: 16px;
    transition-delay: .2s;
}